<template x-if="!cartItems.length">
    <div class="empty">
        <div class="em">🛒</div>
        <h4 x-text="t('cartEmpty')"></h4>
        <p x-text="t('cartEmptyText')"></p>
    </div>
</template>
<template x-for="item in cartItems" :key="item.product.id">
    <div class="line">
        <div class="line-img" @click="openProduct(item.product)">
            <template x-if="item.product.image"><img :src="item.product.image" :alt="name(item.product)" loading="lazy"></template>
            <template x-if="!item.product.image"><div class="ph" x-text="initial(name(item.product))"></div></template>
        </div>
        <div class="line-info">
            <div class="line-name" x-text="name(item.product)"></div>
            <div class="line-price" x-text="money(item.product.price * item.qty)"></div>
        </div>
        <div class="mini-stepper">
            <button type="button" @click="dec(item.product)" aria-label="−">
                <svg class="icon icon-sm"><use :href="item.qty === 1 ? '#i-trash' : '#i-minus'"/></svg>
            </button>
            <span x-text="item.qty"></span>
            <button type="button" @click="add(item.product)" aria-label="+"><svg class="icon icon-sm"><use href="#i-plus"/></svg></button>
        </div>
    </div>
</template>
